<!-- Footer -->
<footer class="megafooter text-white" style="background-color:rgba(69,63,58,255)">
  <!-- Grid container -->
  <div class="container-fluid p-4 d-flex justify-content-between">


    <!-- Section: Links -->
    <section class="footer">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
          <h5 class="heds">ADVENTURER'S DEALS</h5>

          <ul class="list-unstyled mb-0">
            <li class="advent">
              Join our community and be the first to <br> receive:
              <br>
              ▪ Exclusive & Custom Offers
              <br>
              ▪ Private Sales (up to 30%)
              <br>
              ▪ Latest Blog Posts
            </li>

            <form action="https://manage.kmail-lists.com/subscriptions/subscribe?a=NGnUvH&amp;g=LGNg9p" method="post" class="mailing-form" name="mc-embedded-subscribe-form" target="_blank">
              <div class="group-input">
                <label>Enter your email address: <br><br><input placeholder="E-mail address" type="email" required="required" name="EMAIL" class="email"></label></div>
              <div class="group-input2">
                <input type="checkbox" required="required" value="rgpd"  name="rgpd" class="checkbox" id="rgpd"> <label class="rgpdl" for="rgpd">By subscribing, you accept that EIKEN stores
                and uses your email address in order to send you our newsletter and exclusive offers. You can withdraw your consent at any time  by writing to us at info@eikenshop.com.</label></div>
              <div class="group-input3">
                <button type="submit" class="footer-button subscribe">Subscribe</button>
              </div>
            </form>



          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="heds2">OUR CANVAS & LEATHER
            BAGS
          </h5>

          <ul class="advent2 list-unstyled mb-0">
            <li>
              <a href="#!" class="nounderline text-white">Canvas Backpacks</a>
            </li>
            <br>
            <li>
              <a href="#!" class="nounderline text-white">Canvas Messenger Bags</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Canvas Duffle Bags</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Leather Backpacks</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Leather Messenger Bags</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Leather Duffle Bags</a>
            </li><br>
            <li>
              <a href="#!" class=" nounderline text-white">Leather Accessories</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="heds3">OUR POLICIES</h5>
          <br>
          <ul class="advent3 list-unstyled mb-0">

            <li>
              <a href="#!" class= "nounderline text-white">Blog</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Contact</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline  text-white">General Terms and Conditions of Sale</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Privacy Policy</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Return Policy</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Terms of use</a>
            </li><br>
            <li>
              <a href="#!" class="nounderline text-white">Track your order</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="copy text-center p-3" style="background-color: rgba(69,63,58,255);">
    Copyright © 2017 - 2021, EIKEN Shop™
    <br>
    All Rights Reserved.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
