
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000000">

      <div class=" carousel-container container-fluid row">
        <div class="col">

          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/vintage-canvas-rucksack-backpack-1_400x400.progressive.jpg?v=1623351696"
                 alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">
                Vintage Canvas Backpack <br> HELSINKI <br> $94.90 $127.90
              </p>

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/vintage-laptop-rucksack-emerald_800x800.jpg?v=1617721334"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Vintage Laptop Rucksack <br> GÖTEBORG <br> $115.90 $153.00
              </p>

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/retro-canvas-rucksack_400x400.progressive.jpg?v=1617721806"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Retro Canvas Rucksack <br> REYKJAVIK <br> $100.90 $139.90
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/Waxed-Canvas-Roll-Top-Backpack_400x400.progressive.jpg?v=1615303937"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Waxed Canvas Roll Top Backpack <br> LUND <br> $94.90 $112.90
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000000">
      <div class=" carousel-container container-fluid row">
        <div class="col">

          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/Vintage-Rucksack-Handbag-Men_800x800.jpg?v=1615305962"
                 alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">
                Vintage Rucksack Handbag <br> COPENHAGUE <br> $103.90 $123.00
              </p>

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/Small-Canvas-Backpack-light-blue_400x400.progressive.jpg?v=1617723187"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Small Canvas Backpack <br> MANITOBA <br> $96.90 $112.90
              </p>

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/womens-rucksack_400x400.progressive.jpg?v=1617782451"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Women's Rucksack <br> NORA <br> $96.90 $112.90
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-2 border-0">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0134/7738/0153/products/canvas-ladies-backpack_400x400.progressive.jpg?v=1615369412"
                 alt="Card image cap">
            <div class="card-body">

              <p class="card-text text-center">
                Ladies Canvas Backpack <br> YUKON <br> $94.90 $127.90
              </p>
            </div>
          </div>
        </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>



</div>

</div>
