<header class ="top-header body-padding">
  <style>

    @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');
  </style>

  <nav class = "navbar2">

    <div class="row logo2 container-fluid d-flex">



      <div class="col-4 d-flex justify-content-start">
        <form class="search2 d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>

      <div class="col-4 d-flex justify-content-center">
        <a routerLink = "/home" title="EIKEN">
          <img class="logo-eiken" src="//cdn.shopify.com/s/files/1/0134/7738/0153/t/38/assets/Logo-eiken-shop@1x.png?v=7039921187511849494" srcset="//cdn.shopify.com/s/files/1/0134/7738/0153/t/38/assets/Logo-eiken-shop@1x.png?v=7039921187511849494 1x,
          //cdn.shopify.com/s/files/1/0134/7738/0153/t/38/assets/Logo-eiken-shop@2x.png?v=17624901085066792584 2x" height="84" width="81" alt="EIKEN">
        </a>
      </div>


      <div class="shoppingcart2 justify-content-end col-4 d-flex justify-content-end dropdown-toggle rounded" data-hover="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <p class="cart-count rounded"><span class="total_count_ajax">0</span></p>
        <a href="#" title="EIKENcart" class="width" >

          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="black" class="bi bi-cart" viewBox="0 0 -10 0">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </a>


        <p>
          <strong id="total_price_ajax">
          <span class="total_price"><span class="">
            <span class="money" doubly-currency-eur="0" doubly-currency-usd="0" doubly-currency="USD">$0.00
            </span>
          </span>
          </span>
          </strong>
        </p>

      </div>
      <ul class = "cart-dropdown justify-content-end dropdown-menu" aria-labelledby="navbarDropdown" >
        <li><a href="#" class="dropdown-item"> No products in cart. </a></li>
      </ul>
    </div>


    <div class="dropdowns container-fluid d-flex justify-content-center">

      <li class = "nav-item dropdown">
        <a href="#" class ="nav-link dropdown-toggle id=navbarDropdown text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Backpacks
        </a>
        <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a routerLink = "/canvasbackpackrucksack" class="dropdown-item"> Canvas Backpacks & Rucksacks </a></li>
          <li><a routerLink = "/leatherbackpackrucksack" class="dropdown-item"> Leather Backpacks & Rucksacks </a></li>
        </ul>


      <li class = "nav-item dropdown">
        <a href="#" class ="nav-link dropdown-toggle id=navbarDropdown text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Messenger Bags
        </a>
        <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a routerLink = "/canvasmessengerbag" class="dropdown-item"> Canvas Messenger Bags </a></li>
          <li><a routerLink = "/leathermessengerbag" class="dropdown-item"> Leather Messenger Bags </a></li>
        </ul>


      <li class = "nav-item dropdown">
        <a href="#" class ="nav-link dropdown-toggle id=navbarDropdown text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Duffle Bags
        </a>
        <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="#" class="dropdown-item"> Canvas Duffle Bags </a></li>
          <li><a href="#" class="dropdown-item"> Leather Duffle Bags </a></li>
        </ul>


      <li class = "nav-item">
        <a class ="nav-link text-black" href="#">
          About Us
        </a> </li>
      <li class = "nav-item">
        <a class ="nav-link text-black" href="#">
          FAQ
        </a>
      </li>


      <li class = "nav-item dropdown">
        <a href="#" class ="nav-link dropdown-toggle id=navbarDropdown text-black" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Blogs
        </a>
        <ul class = "dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href="#" class="dropdown-item"> Traveler's Notebook </a></li>
          <li><a href="#" class="dropdown-item"> Adventurers & Explorers </a></li>

        </ul>
      </li>

    </div>

  </nav>

</header>
