<div class="d-flex flex-row justify-content-center">

<div id="shopify-section-1597507675651" class="youtubevid shopify-section index-section section-wrapper col-12"
     style="width: 1600px;">
  <div data-placement_fullwidth="1" id="custom-widget-1597507675651" class="custom-widget-wrapper" data-section-id="1597507675651" data-section-type="custom-widget"><div class="custom-widget">
    <style><!-- .embed-container { position: relative; padding-bottom: 55%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;} -->
    </style>
    <div class="embed-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2V_Me_QvIIw?autoplay=1"
                                          srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}
                                          span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/2V_Me_QvIIw?autoplay=1><img src=https://cdn.shopify.com/s/files/1/0134/7738/0153/files/backpack-rucksack-outdoor_1_-min.jpg?v=1602253594?v=1602253251?v=1602252499 alt='Eiken backpack and rucksack video'><span>▶</span></a>"
                                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""
                                          title="Eiken Summer Backpack Vibes">

    </iframe>
    </div>
</div></div>
</div>
</div>
