/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.width {
  width: 208px;
  height: 38px;
}
li {
  list-style: none;
}
.nounderline{
  text-decoration:none !important
}

.navbar{
  margin-left: 200px;
  margin-right:200px;

}
.width{
  height:38px;
  width:208px;

}
.cart-heading{
  vertical-align:top;
  outline:0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;


}

.logo{
  margin-left: 20px;
  margin-right:-15px;
  margin-bottom: 15px;

}

.footer-button {
  font-size: 15px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  line-height: 2;
  color: #333!important;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: 0;
  padding-right: 37px;
  padding-bottom: 5px;
  padding-left:37px;
  height:50px;
  margin-top: 15px;

}

.rgpdl {
  text-align:justify;
  font-size:.68rem;
  text-transform: none;
  line-height: 1.8;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" , "kern";
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  padding-right: 240px;
  padding-top:5px !important;
}

.email {
  background-color: #fff;
  color: #4a4a4b;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 1000;
  -webkit-border-radius: 3px!important;
  font-size:13px;
  border-top-color: rgb(245, 245, 245);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(245, 245, 245);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(245, 245, 245);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(245, 245, 245);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;

  margin-top: 0px;
  margin-right: 17px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 50px;
  width: 265px;
  vertical-align: top;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-left: 20px;
  -webkit-box-shadow: none;
  line-height: inherit;
  box-sizing: border-box;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;

}
.checkbox {
  vertical-align: top;
  -webkit-border-radius:  30px;
  line-height: normal;
  box-sizing: border-box;
  display:block;
  min-height:20px;
  height: 20px !important;
  width:20px !important;
  margin-top: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;

}
.group-input{
  display:inline-block;
  padding-top:5px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  text-transform:none;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin-top: 10px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga","kern";
  letter-spacing: 1px;



}
.advent {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 15px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga","kern";
  letter-spacing: 1px;
  text-transform:none;
  font-family: "Barlow Semi Condensed", sans-serif;

}
.heds{
  font-family: "Barlow Semi Condensed",sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  margin-bottom: 20px;

}

.heds2{
font-family: "Barlow Semi Condensed",sans-serif;
font-weight: bold;
letter-spacing: .5px;
margin-bottom: 20px;
  margin-left: -120px;
}
.heds3{
  font-family: "Barlow Semi Condensed",sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  margin-bottom: 20px;
}
.advent2{
  font-family: "Barlow Semi Condensed",sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-left: -120px;
  margin-top: 46px;


}
.advent3{
  font-family: "Barlow Semi Condensed",sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;

}
.copy{
  font-family: "Barlow Semi Condensed",sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;

}
.dropdowns{
  font-size:20px;
  font-weight:bold;
  font-family: "Barlow Semi Condensed",sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "kern";
  box-sizing: border-box;

}
.search{
  font-size: 14px;
  font-weight: bold;
  font-family: "Barlow Semi Condensed",sans-serif;
  text-rendering: optimizeLegibility;

}
.megafooter {
  margin-top: 500px;
  bottom:0;
  margin-left: 200px;
  margin-right:200px;
}

.dropdown-menu {
  font-size: 15px;
  font-weight: bolder;
  font-family: "Barlow Semi Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "kern";
  box-sizing: border-box;
}

.bg-image {
  height: 100vh;
  width: 100vh;

}
.carousel-container {
  padding-left: 200px;
padding-right: 200px;
  margin-left: 15px;
}

.carousel-control-prev {
  margin-left:180px;
  width: 50px;
  length:50px;

}
.carousel-control-next {
  margin-right: 180px;
  width: 50px;
  length:50px;
}
.home-header {

  margin-top: 25px;
  padding-bottom: 7px;
  border-bottom: solid 1px;
  border-bottom-color: rgb(229,229,229) !important;
  letter-spacing: 1.2px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 1;
  text-decoration:none;
}

.home-page-link {
  font-size: 25px;
  font-weight: bold;

}
.card-text{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size:10px;
  font-weight: bold;
  letter-spacing: 1.2px;

}
